{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"printWidth": 180,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/hooks/",
		"/pages/",
		"^../(.*)",
		"^./(.*)",
		"/module.scss/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
