.appVideoPage {
	background: #181818 !important;
}

.mainVideoPage {
	background: #181818 !important;
	width: 90% !important;
	margin-left: 5% !important;
	margin-right: 5% !important;
	padding: 24px !important;
}

.mobileDesktop {
	margin-left: 72px !important;
	width: calc(100% - 72px) !important;
}
