@import '@/assets/style/variables'

//.mobileDrawer
//	width: 72px !important

.isVideoPage
	display: none !important

.sidebar
	flex: 0 0 auto
	padding: 0 24px 100px 24px
	position: fixed
	left: 0
	top: $headerHeight
	background: $backgroundColor
	height: 100%
	z-index: 9
	overflow-y: auto
	width: $asideWidth

	&::-webkit-scrollbar
		width: 8px
	/* ширина всей полосы прокрутки */


	&::-webkit-scrollbar-track
		background: transparent
	/* цвет зоны отслеживания */


	&::-webkit-scrollbar-thumb
		background-color: #717171
		/* цвет бегунка */
		border-radius: 20px
		/* округлось бегунка */
		height: 50px
		visibility: hidden

	&:hover
		&::-webkit-scrollbar-thumb
			visibility: inherit